# Этап 1

Импорты, настройка отображения

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import psycopg2 as psycopg2
import re
import os
from sqlalchemy import create_engine

from IPython.core.display import display, HTML

display(HTML("‹style>. container { width: 100% !important; }</style>"))
display(HTML("‹style>. output { height: auto !important; }</style›"))
pd.set_option("display.max_rows", 1000)
pd.set_option("display.max_columns", 500)
pd.set_option("display.width", 1000)

/var/folders/d7/ms8g932s0mngjxsjc18fvb480000gn/T/ipykernel_27228/3778168069.py:9: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

# Этап 2

Выполнять, если есть только экселька. Если csv уже есть в директории проекта, то переходить к этапу 3

In [ ]:
data = pd.read_excel("PQM.xlsx", sheet_name="Table1 (basic)", skiprows=[0])
data.head()

In [ ]:
names = [
    "Table1 (basic)",
    "Table2 (limits)",
    "Table3 (events)",
    "Table4 (alloys)",
    "Table5 (temps)",
    "Table6 (weights)",
    "Table7 (head)",
    "Table8 (scrap)",
    "Table9 (all. scr.)",
    "Table10 (unall. scr.)"
]

for current_data in range(len(names)):
    tmp_data = pd.read_excel("PQM.xlsx", sheet_name=names[current_data], skiprows=[0])
    tmp_data.to_csv("table" + str(current_data + 1) + ".csv", sep=";", encoding="utf-8", index=False)

# Этап 3

Читаем данные из csv файлов. Обрабатываем 3 и 8 таблицу, мёржим в один большой dataframe, кладём в постгрес

In [12]:
data = dict()

for current_data in range(1, 11):
    data[current_data] = pd.read_csv("table" + str(current_data) + ".csv", sep=";", encoding="utf-8")

data[3].head()

   EventID  LFVDHeatID  EventNo  EventGroupNo               EventStart                     EventText  HeatNo
0   157924         516     1400             5  2003-08-26 00:00:00.000   Added [35] FeMo =  180,0 kg   71601
1   157925         516     1400             5  2003-08-26 00:00:00.000    Added [48] FeV =  450,0 kg   71601
2   157926         516     1400             5  2003-08-26 00:00:00.000  Added [33] FeMnC =   70,0 kg   71601
3   157927         516     1400             5  2003-08-26 00:00:00.000   Added [41] FeSi =  150,0 kg   71601
4   157928         516     1400             5  2003-08-26 00:00:00.000    Added [13] CaO =  300,0 kg   71601

### Этап 3.1

Обрабатываем 3 таблицу

In [13]:
data_3_tmp = data[3].copy()

# Выбираю только значимые записи (Записи с добавлением химических элементов)
data_3_tmp = data_3_tmp[data_3_tmp['EventText'].str.contains('] .* =')]

# Выбираю уникальные элементы
unique_adds = data_3_tmp['EventText'].apply(lambda x: x[x.find('] ') + 2:x.find(' =')]).unique()

print(unique_adds)


# Функция, возвращающая вес добавленного элемента, или 0
def get_add_weight(event_text, add_name):
    current_add_name = event_text[event_text.find('] ') + 2:event_text.find(' =')]
    if not (add_name == current_add_name):
        return 0
    return float(re.findall('\d+,\d+', event_text)[-1].replace(",", "."))


# Отключить ненужные предупреждения
pd.options.mode.chained_assignment = None

for current_add in unique_adds:
    data_3_tmp[current_add] = data_3_tmp['EventText'].apply(get_add_weight, args=[current_add])

# Дропаем ненужные столбцы
data_3_tmp.drop(columns=['EventID', 'EventNo', 'LFVDHeatID', 'EventStart', 'EventGroupNo', 'EventText'], axis=1,
                inplace=True)


data[3] = data_3_tmp.groupby(by='HeatNo').sum()
print(data[3].shape)
# data[3].head()

['FeMo' 'FeV' 'FeMnC' 'FeSi' 'CaO' 'BOKSIT beli' 'Al bloki'
 'KARBORITmleti' 'FeCrC' 'SLAGMAG 65B' 'EPZ zlindra' 'CASIfi13' 'Cfi13'
 'FeAl' 'FeCrA' 'FeCrC51' 'SiMn' 'POLYMOX' 'FeCrC Si' 'Al zica' 'CaSi'
 'Molyquick' 'Al opl.zica' 'Borax' 'S žica' 'BOKSIT' 'EPŽ žlindra' 'FeW72'
 'Kalcijev karbid' 'Mn met' 'Al gran' 'FeCrCSi' 'Ni gran' 'SINT. ŽLINDRA'
 'DUŠIK' 'karburit-kosi' 'FeV opl. žica' 'FeS' 'Ni katode']
(3578, 39)

### Этап 3.2

Обрабатываем таблицу 8

In [14]:
data[8].head()

   HeatNo Fill#1_ScrapName  Fill#1_ScrapWeight Fill#2_ScrapName  Fill#2_ScrapWeight Fill#3_ScrapName  Fill#3_ScrapWeight Fill#4_ScrapName  Fill#4_ScrapWeight Fill#5_ScrapName  Fill#5_ScrapWeight Fill#6_ScrapName  Fill#6_ScrapWeight
0   71601               E3               43700              NaN                 NaN              NaN                 NaN              NaN                 NaN              NaN                 NaN              NaN                 NaN
1   71602               E3               42100              NaN                 NaN              NaN                 NaN              NaN                 NaN              NaN                 NaN              NaN                 NaN
2   71609          OCR12VM               49000               E8              1300.0              NaN                 NaN              NaN                 NaN              NaN                 NaN              NaN                 NaN
3   71610            OCR12               20000               E6             16600.0          OCR12SP             10000.0              NaN                 NaN              NaN                 NaN              NaN                 NaN
4   71616          OCR12VM               50000               E8              1500.0               E6                 0.0              NaN                 NaN              NaN                 NaN              NaN                 NaN

In [15]:

data_8_tmp = data[8].copy()

unique_scrap_names = set()

for fill_number in range(1, 6):
    column_name_scrap = 'Fill#' + str(fill_number) + '_ScrapName'
    column_name_weight = 'Fill#' + str(fill_number) + '_ScrapWeight'

    current_unique_scraps = data_8_tmp[column_name_scrap].unique()
    for current_scrap in current_unique_scraps:
        if not (current_scrap != current_scrap):  # Проверка на NaN
            unique_scrap_names.add(current_scrap)

print(unique_scrap_names)

# Инициализируем столбцы элементов
for scrap_name in unique_scrap_names:
    data_8_tmp[scrap_name] = 0


def get_fill_weight(row, current_scrap_, column_name_scrap_, column_name_weight_):
    if str(row[column_name_scrap_]) == current_scrap_:
        return row[column_name_weight_]
    return 0


for fill_number in range(1, 7):
    column_name_scrap = 'Fill#' + str(fill_number) + '_ScrapName'
    column_name_weight = 'Fill#' + str(fill_number) + '_ScrapWeight'

    for current_scrap in unique_scrap_names:
        data_8_tmp[current_scrap] += data_8_tmp.apply(get_fill_weight,
                                                      args=[current_scrap, column_name_scrap, column_name_weight],
                                                      axis=1)
    data_8_tmp.drop(columns=[column_name_scrap, column_name_weight], axis=1, inplace=True)

data_8_tmp.head()
data[8] = data_8_tmp

{'VCMO230', 'PK5', 'OH255', 'OCR12', 'OCR12VM', '31CRV3', 'OSIKRO3', 'CRMO OSTRUŽKI', 'ECN150', 'E3', 'OH252', 'OCR12SP', 'EMCR', 'PK2', 'CRV', 'E40', 'E6', 'E8', 'OSIKRO4', 'OCR12VM OSTRUŽKI', 'PT929', 'PK5M', 'UTOP1', 'PT181', 'UTOPMO4', 'UTOPMO2'}

# Этап 3.3

Обрабатываем оставшиеся таблицы

In [16]:
try:
    data.pop(7)  # Седьмая таблица бесполезна
except:
    print('Таблица 7 уже удалена!')

In [17]:
data_1_tmp = data[1].copy()

data_1_tmp.head()
try:
    data_1_columns_to_drop = ['Date', 'QualityRequirement', 'QualNo', 'CustID', 'CustVer', 'InternalVer',
                              'MetalRavneQualityName', 'SteelGroup', 'Month', 'Year']
    data_1_tmp.drop(columns=data_1_columns_to_drop, axis=1, inplace=True)
except:
    print('Таблица 1 уже обработана!')

print(data_1_tmp.shape)

data_1_tmp.drop_duplicates(inplace=True)

print(data_1_tmp.shape)

data_1_tmp.head()
data[1] = data_1_tmp

(3610, 24)
(3590, 24)

In [18]:
data_2_tmp = data[2].copy()

try:
    data_2_columns_to_delete = ['Date', 'QualityRequirement', 'QualNo', 'CustID', 'CustVer', 'InternalVer',
                                'MetalRavneQualityName', 'SteelGroup', 'Month', 'Year']
    data_2_tmp.drop(columns=data_2_columns_to_delete, axis=1, inplace=True)
except:
    print('Таблица 2 уже обработана!')

data_2_tmp.drop_duplicates(inplace=True)

data_2_tmp.head()
data[2] = data_2_tmp

# Этап 4

Мёржим таблички

In [22]:
data_tmp = data.copy()
merged_data = data_tmp.pop(1)

for key in data_tmp:
    current_data = data_tmp[key]
    merged_data = merged_data.merge(current_data, how="inner", on="HeatNo")
merged_data = merged_data.set_index('HeatNo')
merged_data.head()
print(merged_data.shape)

(3576, 288)

#### Грузим в бд

In [23]:
# создаём подключение к бд
engine = create_engine('postgresql+psycopg2://dvamuch:enrf32dog@localhost/rts')

merged_data.to_sql("final_table", engine, "pqm", if_exists="replace")

73