## Подключение библиотек

In [37]:
from sqlalchemy import create_engine
import pandas as pd
import re

## Создание dataframe из excel документа

In [38]:
data = pd.read_excel("PQM.xlsx", sheet_name="Table1 (basic)", skiprows=[0])
data.head()

,HeatNo,Date,QualityRequirement,QualNo,CustID,CustVer,InternalVer,MetalRavneQualityName,SteelGroup,Month,...,Mo_Final,LFVD_FeMo,LFVD_Polymox,V_Last_EOP,V_Final,LFVD_FeV,W_Last_EOP,W_Final,LFVD_FeW72,LFVD_WPaketi
0,71601,2003-08-26 21:12:07,834.99.1 / 2,834,99,1,2,OCR12VM,Tool Steel; High Alloyed; 4 Cold,8,...,0.77,320.0,0.0,NaN,0.75,510.0,NaN,0.20,0.0,0.0
1,71602,2003-08-26 23:59:05,834.99.1 / 2,834,99,1,2,OCR12VM,Tool Steel; High Alloyed; 4 Cold,8,...,0.81,650.0,0.0,NaN,0.80,490.0,NaN,0.04,0.0,0.0
2,71609,2003-08-27 22:46:45,834.99.1 / 2,834,99,1,2,OCR12VM,Tool Steel; High Alloyed; 4 Cold,8,...,0.83,40.0,0.0,NaN,0.82,220.0,NaN,0.10,0.0,0.0
3,71610,2003-08-28 00:28:55,834.99.1 / 2,834,99,1,2,OCR12VM,Tool Steel; High Alloyed; 4 Cold,8,...,0.77,420.0,0.0,NaN,0.82,390.0,NaN,0.20,0.0,0.0
4,71616,2003-09-01 19:03:58,834.65.1 / 7,834,65,1,7,OCR12VM,Tool Steel; High Alloyed; 4 Cold,9,...,0.80,20.0,0.0,NaN,0.95,290.0,NaN,0.18,0.0,0.0

In [39]:
tables = [ "Table1 (basic)", "Table2 (limits)",
           "Table3 (events)", "Table4 (alloys)",
           "Table5 (temps)", "Table6 (weights)",
           "Table7 (head)", "Table8 (scrap)",
           "Table9 (all. scr.)", "Table10 (unall. scr.)"]

for i in range(len(tables)):
    tmp_data = pd.read_excel("PQM.xlsx", sheet_name=tables[i], skiprows=[0])
    tables[i] = tables[i].lower().replace(' ', '_').replace('(','').replace(')','')
    tmp_data.to_csv(tables[i] + ".csv", sep=";", encoding="utf-8", index=False)

## Создание словаря из таблиц

In [40]:
data = dict()

for i in range(len(tables)):
    data[i + 1] = pd.read_csv(tables[i] + ".csv", sep=";", encoding="utf-8")

data[3].head()

,EventID,LFVDHeatID,EventNo,EventGroupNo,EventStart,EventText,HeatNo
0,157924,516,1400,5,2003-08-26 00:00:00.000,"Added [35] FeMo = 180,0 kg",71601
1,157925,516,1400,5,2003-08-26 00:00:00.000,"Added [48] FeV = 450,0 kg",71601
2,157926,516,1400,5,2003-08-26 00:00:00.000,"Added [33] FeMnC = 70,0 kg",71601
3,157927,516,1400,5,2003-08-26 00:00:00.000,"Added [41] FeSi = 150,0 kg",71601
4,157928,516,1400,5,2003-08-26 00:00:00.000,"Added [13] CaO = 300,0 kg",71601

## Обработка 3 таблицы

In [41]:
data_3_table = data[3].copy()

#Выбор только значимых записей (с добавлением химических элементов)
data_3_table = data_3_table[data_3_table['EventText'].str.contains('] .* =')]
#Выбор уникальных элементов
unique_values = data_3_table['EventText'].apply(lambda x: x[x.find('] ') + 2:x.find(' =')]).unique()

print(unique_values)



#Функция, возвращающая вес добавленного элемента, или 0
def get_elem_weight(event_str, elem_name):
    current_add_name = event_str[event_str.find('] ') + 2:event_str.find(' =')]
    if (elem_name != current_add_name):
        return 0
    return float(re.findall('\d+,\d+', event_str)[-1].replace(",", "."))


#Отключение ненужные предупреждения
pd.options.mode.chained_assignment = None

for current_elem in unique_values:
    data_3_table[current_elem] = data_3_table['EventText'].apply(get_elem_weight, args=[current_elem])

#Удуление ненужных столбцов
data_3_table.drop(columns=['EventID', 'EventNo', 'LFVDHeatID', 'EventStart', 'EventGroupNo', 'EventText'], axis=1,
                inplace=True)

#Группировка
data[3] = data_3_table.groupby(by='HeatNo').sum()
print(data[3].shape)

['FeMo' 'FeV' 'FeMnC' 'FeSi' 'CaO' 'BOKSIT beli' 'Al bloki'
 'KARBORITmleti' 'FeCrC' 'SLAGMAG 65B' 'EPZ zlindra' 'CASIfi13' 'Cfi13'
 'FeAl' 'FeCrA' 'FeCrC51' 'SiMn' 'POLYMOX' 'FeCrC Si' 'Al zica' 'CaSi'
 'Molyquick' 'Al opl.zica' 'Borax' 'S žica' 'BOKSIT' 'EPŽ žlindra' 'FeW72'
 'Kalcijev karbid' 'Mn met' 'Al gran' 'FeCrCSi' 'Ni gran' 'SINT. ŽLINDRA'
 'DUŠIK' 'karburit-kosi' 'FeV opl. žica' 'FeS' 'Ni katode']
(3578, 39)

## Обработка 8 таблицы

In [42]:
data_8_table = data[8].copy()

unique_scrap_names = set()

for fill_number in range(1, 6):
    column_name_scrap = 'Fill#' + str(fill_number) + '_ScrapName'
    column_name_weight = 'Fill#' + str(fill_number) + '_ScrapWeight'

    current_unique_scraps = data_8_table[column_name_scrap].unique()
    for current_scrap in current_unique_scraps:
        if not (current_scrap != current_scrap):  # Проверка на NaN
            unique_scrap_names.add(current_scrap)

print(unique_scrap_names)

#Инициализация столбцов элементов
for scrap_name in unique_scrap_names:
    data_8_table[scrap_name] = 0


def get_fill_weight(row, current_scrap, column_name_scrap, column_name_weight):
    if str(row[column_name_scrap]) == current_scrap:
        return row[column_name_weight]
    return 0


for fill_number in range(1, 7):
    column_name_scrap = 'Fill#' + str(fill_number) + '_ScrapName'
    column_name_weight = 'Fill#' + str(fill_number) + '_ScrapWeight'

    for current_scrap in unique_scrap_names:
        data_8_table[current_scrap] += data_8_table.apply(get_fill_weight,
                                                          args = [current_scrap, column_name_scrap, column_name_weight],
                                                          axis = 1)
    data_8_table.drop(columns = [column_name_scrap, column_name_weight], axis = 1, inplace = True)

data_8_table.head()
data[8] = data_8_table

{'E6', 'UTOPMO2', '31CRV3', 'PK5', 'UTOPMO4', 'E8', 'OCR12', 'PK2', 'CRV', 'OCR12VM OSTRUŽKI', 'OCR12VM', 'E40', 'OCR12SP', 'E3', 'VCMO230', 'ECN150', 'OH252', 'PK5M', 'UTOP1', 'CRMO OSTRUŽKI', 'OH255', 'PT181', 'OSIKRO3', 'OSIKRO4', 'EMCR', 'PT929'}

## Обработка оставшихся таблиц

In [43]:
#Удалений 7 таблицы
try:
    data.pop(7)  
except:
    print('Таблицы №7 несуществует')

In [44]:
#Удалений столбцов в 1 таблице

data_1_table = data[1].copy()

data_1_table.head()
try:
    data_1_table_columns_to_drop = ['Date', 'QualityRequirement', 'QualNo', 'CustID', 'CustVer', 
                                    'InternalVer', 'MetalRavneQualityName', 'SteelGroup', 'Month', 'Year']
    data_1_table.drop(columns = data_1_table_columns_to_drop, axis = 1, inplace = True)
except:
    print('Таблица №1 уже была обработана')

print(data_1_table.shape)

data_1_table.drop_duplicates(inplace=True)

print(data_1_table.shape)

data_1_table.head()
data[1] = data_1_table

(3610, 24)
(3590, 24)

In [45]:
#Удалений столбцов в 2 таблице

data_2_tmp = data[2].copy()

try:
    data_2_columns_to_delete = ['Date', 'QualityRequirement', 'QualNo', 'CustID', 'CustVer', 'InternalVer',
                                'MetalRavneQualityName', 'SteelGroup', 'Month', 'Year']
    data_2_tmp.drop(columns = data_2_columns_to_delete, axis = 1, inplace = True)
except:
    print('Таблица №1 уже была обработана')

data_2_tmp.drop_duplicates(inplace=True)

data_2_tmp.head()
data[2] = data_2_tmp

## Объединение таблиц по столбцу "HeatNo"

In [46]:
data_tmp = data.copy()
merged_data = data_tmp.pop(1)

for key in data_tmp:
    current_data = data_tmp[key]
    merged_data = merged_data.merge(current_data, how = "inner", on = "HeatNo")

merged_data = merged_data.set_index('HeatNo')
merged_data.head()

print(merged_data.shape)

(3576, 288)

## Отправка таблицы в базу данных

In [47]:
engine = create_engine('postgresql+psycopg2://postgres:admin@localhost/real_time_system')

merged_data.to_sql("final_table", engine, if_exists="replace")

73